# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
/.venv
venv/
.env.*

# IDE files
.idea/
.vscode/

# Compiled Python files
*.pyc
*.pyo

# Package files
*.egg-info/
dist/
build/
*.egg

# Log files
*.log
