.clientes-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1100px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.titulo-tabla {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 28px;
}

.tabla-clientes th, .tabla-clientes td {
    vertical-align: middle;
    font-size: 16px;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: black;
    font-weight: 500;
    margin-right: 5px;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    font-weight: 500;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 25px;
    font-weight: 500;
    border-radius: 6px;
}

.btn i {
    margin-right: 5px;
}
