.message-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
}


.container {
    text-align: center; /* Centra horizontalmente el contenido del contenedor */
    letter-spacing: 1px; /* Ajusta el espacio entre letras */
}

table {
    margin: 0 auto; /* Centra horizontalmente la tabla dentro del contenedor */
    padding: 10px; /* Agrega relleno a la tabla */
}

th, td {
    padding: 5px; /* Agrega espacio alrededor del contenido de las celdas */
}



